:root {
    --black: #000;
    --white: #fff;
    --ul-primary: #2563EB;
    --ul-secondary: #60A5FA;
    --ul-c3: #DBEAFE;
    --ul-c4: #EFF6FF;
    --ul-c5: #3B82F6;
    --ul-black: #1E252F;
    --ul-p: #434343;
    --ul-gray: #434343;
    --ul-gray2: #D2D2D1;
    --ul-gray3: #F4F4F4;
    --ul-gradient: linear-gradient(90deg, var(--ul-primary) 0%, var(--ul-secondary) 100%);

    --font-primary: "Manrope", serif;
    --font-quicksand: "Quicksand", serif;
    --font-caveat: "Dancing Script", cursive;
    --font-script: "Dancing Script", cursive;
}